<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra Views Lab</title>
</head>
<body>
    <div class="wrapper">
        <!-- HEADER -->
        <h1>Sinatra Views Lab</h1>
        <h2>Date</h2>
        <p>The date is <%= Date.today.strftime("%A, %B %d, %Y") %> </p>
    </div>  
</body>
</html>